* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 1500px;
}
.page {
  position: relative;
  width: 100%;
  height: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/* .primary {
  padding-top: 15px;
}
.form {
  padding-top: 25px;
}
.rad {
  padding-top: 25px;
}
.toppingsArea {
  padding-top: 45px;
}
.toppingsOptions {
  padding-top: 25px;
  padding-bottom: 45px;
} */
.submit {
  padding: 25px 25px;
  border: none;
  margin-bottom: 45px;
}
.again {
  border: none;
  margin-top: 25px;
}
#results {
  display: none;
}
