* {
  box-sizing: border-box;
  text-align: center;
}
body {
  background: url("https://image.posterlounge.com/images/l/1895483.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.primary {
  padding-top: 15px;
}
.form {
  padding-top: 25px;
}
.rad {
  padding-top: 25px;
}
.toppingsArea {
  padding-top: 45px;
}
.toppingsOptions {
  padding-top: 25px;
  padding-bottom: 45px;
}
.submit {
  padding: 25px 25px;
  border: none;
  margin-bottom: 45px;
}
.again {
  border: none;
  margin-top: 25px;
}
#results {
  display: none;
}
